/* .navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
} */

.navbar {
  font-size: small;
}

.card {
  /* background-color: #E5E5E5 !important; */
}

.divpurple {
  background-color: #E5E5E5 !important;
}

.m-0 {
  margin: 0 !important;
  color: #ffffff;
}

.btn-secondary {
  color: #fff;
  background-color: #c31010 !important;
  /* background: url(../src/assets/images/Hide Icon.svg) no-repeat; */
  width: 54.3px !important;
  border-color: #FAFAFA !important;
}

.btn-secondary:focus {
  color: #000;
  background-color: #f26a27;
  border-color: #f26a27;
}

.button-isi {
  z-index: 1;
}

.button-primary.button-isi {
  background: 0 0;
}

.button-primary.button-isi {
  background: 0 0;
}

.button-isi {
  z-index: 1;
}

.button-primary, .button-primary:focus {
  color: #000;
  background-color: #f26a27;
  border-color: #f26a27;
}

@media (min-width:768px) {
  .button {
    padding: 11px 24px;
    font-size: 14px;
  }
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 1.715;
  border: 2px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-radius: 6px;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
}

.button:hover {
  background-color: rgb(193, 184, 206);
  /* Green */
  color: white;
}

.customlable {
  color: #595959 !important;
  font-weight: bolder;
}

.cardcustomlable {
  color: #ffffff !important;
  font-weight: bolder;
}

.button3 {
  background-color: #E5E5E5;
  color: white;
  border: 2px solid #f26a27;
  border-radius: 8px
}

.buttonsubmit {
  background-color: #00A7B5;
  color: white;
  border: 2px solid #00A7B5;
  font-weight: bolder;
  border-radius: 8px;
}

.buttonsubmit:hover {
  background-color: #00A7B5;
  color: white;
  /* border: 2px solid #00A7B5; */
  font-weight: bolder;
  /* border-radius: 8pxl; */
}

.button3:hover {
  background-color: #f26a27;
  color: white;
}

hr {
  margin-top: 0rem !important
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #00A7B5 !important;
  border-color: #00A7B5 !important;
}

.btn-success {
  color: #fff;
  background-color: #595959 !important;
  border-color: #595959 !important;
}

.navbar-nav {
  margin-left: auto !important;
}

.container {
  padding-left: 100px!important;
}

.toolbar ul {
  display: table-row;
}

.toolbar ul li {
  display: table-cell;
  height: 100px;
  list-style-type: none;
  margin: 10px;
  vertical-align: middle;
}

.toolbar ul li a {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  border: solid 1px black;
}

.toolbar ul li.button a {
  height: 50px;
  border: solid 1px black;
}

/* .a {
  font-size: medium !important;;
  font-weight: bold !important;;
} */

/* .radiobox__wrapper label:before {
  border-color: #000;
}

.radiobox__wrapper.checked label:before {
  background-color: #000 !important;
} */

.react-inputs-validation__radiobox__wrapper___1zZ30.react-inputs-validation__disabled___1-57g, .react-inputs-validation__radiobox__wrapper___1zZ30.react-inputs-validation__disabled___1-57g div, .react-inputs-validation__radiobox__wrapper___1zZ30.react-inputs-validation__disabled___1-57g label {
  cursor: not-allowed
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  display: none
}

.react-inputs-validation__radiobox__container___FD4vb.react-inputs-validation__disabled___1-57g, .react-inputs-validation__radiobox__input___2uX2-.react-inputs-validation__disabled___1-57g, .react-inputs-validation__radiobox__label___2tQsB.react-inputs-validation__disabled___1-57g:before, .react-inputs-validation__radiobox__wrapper___1zZ30.react-inputs-validation__disabled___1-57g {
  color: #ccc;
  cursor: not-allowed
}

.react-inputs-validation__radiobox__label___2tQsB {
  display: inline-block\9;
  display: flex;
  align-items: center
}

.react-inputs-validation__radiobox__label___2tQsB:before {
  content: "";
  border: 1px solid #d8cece;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 1em;
  cursor: pointer;
  text-align: center;
  transition: all .25s ease
}

.react-inputs-validation__radiobox__label___2tQsB.react-inputs-validation__disabled___1-57g:before {
  border: 1px solid #ccc;
  background-color: #f8f8f8
}

.react-inputs-validation__radiobox__label___2tQsB.react-inputs-validation__checked___2O0Ju:before {
  background-color: #ffffff;
  /* opacity: .4; */
  box-shadow: inset 0 0 0 4px #007bff
}

.react-inputs-validation__button___9JBRL.react-inputs-validation__radiobox__item___ejuz1 {
  display: inline-block\9;
  width: auto;
  /* background-color: #ffffff; */
  /* opacity : .4; */
}

.react-inputs-validation__button___9JBRL {
  width: 100%;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  overflow: visible
}

.react-inputs-validation__radiobox__item___ejuz1.react-inputs-validation__success___3TpwE .react-inputs-validation__radiobox__label___2tQsB.react-inputs-validation__checked___2O0Ju:before {
  border-color: #2fca6f
}

.react-inputs-validation__radiobox__item___ejuz1.react-inputs-validation__error___2aXSp .react-inputs-validation__radiobox__label___2tQsB:before {
  border-color: #ff5a57
}

.react-inputs-validation__radiobox__item___ejuz1.react-inputs-validation__disabled___1-57g.react-inputs-validation__error___2aXSp .react-inputs-validation__radiobox__label___2tQsB:before {
  border-color: #ccc
}