.teamuser_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.teamuser_row  .list-group{
    width: 75%;
}
    .teamuser_row .list-group .form-group {
        flex: 0 0 20%;
        max-width: 20%;
    }
.yearselection_wrp {
    display: inline-flex;
    justify-content: flex-end;
}
/*.ct-chart {
    height: 500px;
    width: 500px;
    overflow: hidden;
}*/

.card-stats {
    background: linear-gradient(60deg, rgb(39, 85, 132), rgb(39, 85, 132)) !important; /* rgb(21, 117, 178), rgb(24, 131, 198)) !important;*/
    box-shadow: 6px 6px 10px #ccc !important;
}

.card-icon {
    background: #fff !important;
    /* box-shadow: 0px -2px 15px #ccc;*/
}

.cardTitleColor {
    color: black !important;
}
.cardSubHeadColor{
    color: white !important;
}
.cardSubContentColor {
    color: white !important;
}

.btn-year {
    background-color: purple;
    color: white;
}

[variant="blue"] {
    background-color: #104377 !important;
    color: white !important;
}
.Btn_blue {
    background-color: #104377 !important;
    color: white !important;
}

.nav-item:hover a, .nav-item:focus a {
    /* background-color: white;*/
    color: white !important;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
}